{% extends 'base.html' %} {% load static %} {% block styles %}
<link rel="stylesheet" href="{% static 'styles/home.css' %}" />
{% endblock styles %} {% block content %}
<main class="p-3 sm:p-5 flex flex-col">
  <header class="">
    <h1 class="text-2xl sm:text-3xl font-medium">Edit Item</h1>
    {% comment %}
    <p class="opacity-70"></p>
    {% endcomment %}
  </header>
  <hr class="my-2 bg-zinc-500" />
  <section class="">
    <form method="POST">
      {% csrf_token %}
      <ul class="flex flex-col gap-3">
        <li>
          <label for="name" class="block mb-1">Name</label>
          {{ form.name }} {{ form.name.errors|striptags }}
        </li>
        <li>
          <label for="description" class="block mb-1">Description</label>
          {{ form.description }} {{ form.description.errors|striptags }}
        </li>
        <li>
          <label for="amount" class="block mb-1">Amount</label>
          {{ form.amount }} {{ form.amount.errors|striptags }}
        </li>
        {{ form.non_field_errors }}
      </ul>
      <div class="flex flex-col sm:flex-row gap-4 mt-5 items-center">
        <button
          type="submit"
          class="px-4 py-2 rounded transition-all bg-sky-600 text-white hover:bg-sky-700 hover:scale-105"
        >
          Save
        </button>
        <a
          href="{% url 'Delete Item' id %}"
          class="px-4 py-2 rounded transition-all text-red-600 border hover:border-red-600 hover:scale-105"
        >
          Delete
        </a>
      </div>
    </form>
  </section>
</main>
{% endblock content %}
